torch==2.12.1
torchvision==0.27.1
numpy==2.0.2
pandas==3.0.3
scipy==1.18.0
scikit-image==0.26.0
scikit-learn==1.9.0
matplotlib==3.11.0
seaborn==0.13.2
statsmodels==0.14.6
tqdm==4.68.4
tensorboard==2.21.0
pycocotools==2.0.11
numba==0.66.0
roifile==2026.2.10
imagecodecs==2026.3.6
lightning==2.6.5
segmentation-models-pytorch==0.5.0
cellpose==3.1.0
instanseg-torch==0.1.1
micro-sam==1.8.7
ipykernel==6.31.0
